

<div class="container">
  <div class="row">
     <div class="col-md-6">
       <%= form_for @appointment,url: {action: "created_appointment"} do|f| %>
         <%= f.label :doctor %>
         <%= f.collection_select(:doctor_id, Doctor.all, :id, :name) %></br>
         <%= f.label :patient %>
         <%= f.collection_select(:patient_id, Patient.all, :id, :name) %></br>
         <%= f.label :appointment_datetime %>
         <%= f.text_field :appointment_date, class: "datetimepicker"  %><br/>
         <script type="text/javascript">
           $('.datetimepicker').datetimepicker();
         </script></br>
         <%= f.submit :submit %>
       <% end %>  
     </div>
  </div>
</div>
   