<%= form_for @patient,url: { action: "new"}, html: {class: "patient"} do|d| %>
  <%= d.submit :createnewpatient%>
<% end %> </br>
</br>
</br> 

<html>
<head>
	<title>alluser</title>
	<style>
  table{  
            border: 0px solid blue;         
  	       	height:400px;
  	  	    width:120px;
  	  	    margin-left: 10px
  	            }  
  	         th{
  	         	text-align: left;
  	            }
  	    </style>        
</head>
<body>
	<table>
    <caption>Patients</caption>
		<tr>
			<th>patients_name</th>
		</tr>
		<%   @patient1.each do |i| %>
       <tr>
         <td><%= i.name%></td>
         <th><%= link_to "delete_patient",delete_patient_event_path(id: i.id) %></th>
         <th><%= link_to "edit", edit_patient_event_path(id: i.id) %></th>

       </tr>   
     <% end %>  
    </table>  
    
    </body>
</html>   

